.input1{
    background-color: aqua;
}
    .input2{
        background-color: beige;
    }
.input3{
    background-color: pink;
}
.input4{
    background-color: rgb(42, 165, 58);
}
.genders{
    color: blueviolet;
}

.colors{
    background-color: aquamarine;
}
.input5{
    background-color: rgb(221, 221, 245);

}
.input6{
    background-color: yellow;
}
.input7{
    background-color: red;
}
.input8{
    background-color: blueviolet;
}
.input9{
    background-color: rgb(154, 179, 40);
}